<% if current_user %>
  <div class="col-md-12">
    <%= link_to "+Add Site", new_registered_application_path, class: 'btn btn-success pull-right' %>
  </div>
<% end %>

<h1>My Registered Sites</h1>
 <% @registered_applications.each do |app| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to app.name, registered_application_path(app) %>
       </h4>
     </div>
   </div>
 <% end %>
